@font-face{font-family:def;src:url(../fonts/KumbhSans-Regular.ttf);font-display:swap}
@font-face{font-family:defbold;src:url(../fonts/KumbhSans-Bold.ttf);font-display:swap}

*:focus {
    outline: none;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 44vh;
    height: 40vh;

    border-radius: 0.6vh;
    margin-right: 1%;
}

.dp-tabs-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15%;
}

.dp-select {
    width: 90%;
    height: 70%;
    border-radius: 0.8vh;
    border: none;

    font-size: 1.8vh;
    font-family: defbold;
    font-weight: 100;
    background-color: #E6E8EA;
}

select optgroup {
    color: #4d4d4d;
    font-family: def;
    font-style: normal;
    font-weight: 700;
    border: none;
}

.dp-tab-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dp-tabs {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.dispatch {
    opacity: 1;
}

.officers {
    opacity: 0;
}

.dp-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 15%;

    background-color: #444444;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

.header-text {
    font-size: 1.4vh;
    font-family: defbold;
    font-weight: 100;
    color: #a9a9a9;
}

.left {
    margin-left: 2.5%;
}

.header-title {
    font-size: 2.2vh;
    font-family: defbold;
    font-weight: 100;
    text-decoration: underline;
    color: #bbbbbb;
}

.right {
    margin-right: 2.5%;
}

.dp-info-container {
    width: 100%;
    height: 70%;

    background-color: #a9a9a9;
}

.prev-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-size: 3.0vh;
    font-family: defbold;
    font-weight: 700;
    color: #444444;
}

.dp-move-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15%;
    
    background-color: #444444;
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

.fas {
    font-size: 2.6vh;
    color: #a9a9a9;
    z-index: 3;
}

.container-slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    opacity: 0;
    
    background-color: #a9a9a9;
    z-index: 0;
}

.slide-text {
    text-align: center;
    font-size: 1.8vh;
    font-family: def;
    font-weight: 700;
    color: #444444;
    margin: 1.5%;
}

.slide-img {
    margin-bottom: 1.5%;
    width: 25vh;
    border-radius: 0.6vh;
}